apiVersion: v1
kind: Service
metadata:
  name: service-a
  labels:
    service: service-a

spec:
  type: NodePort
  selector:
    service: service-a

  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http

    - port: 3000
      targetPort: metrics
      protocol: TCP
      name: metrics
