apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor

metadata:
  name: service-a
  labels:
    release: monitoring

spec:
  selector:
    matchLabels:
      service: service-a

  endpoints:
    - port: metrics
      path: /metrics
      interval: 15s

  namespaceSelector: {}
