apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor

metadata:
  name: service-b
  labels:
    release: monitoring

spec:
  selector:
    matchLabels:
      service: service-b

  endpoints:
    - port: metrics
      path: /metrics
      interval: 15s