apiVersion: v1
kind: Service
metadata:
  name: service-b

spec:
  type: NodePort
  selector:
    service: service-b

  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http

    - port: 80
      targetPort: metrics
      protocol: TCP
      name: metrics
