apiVersion: v1
kind: Service
metadata:
  name: service-b
  labels:
    app: metrics-exposing-app

spec:
  type: NodePort
  selector:
    app: metrics-exposing-app
    service: service-b

  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http