apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: kibana
  namespace: logging
  labels:
    app: metrics-exposing-app

spec:
  version: 9.2.1
  count: 1
  elasticsearchRef:
    name: elasticsearch
